<div xmlns="http://www.w3.org/1999/html">
    PR 2!!
    <br/>
    nochmal neu

    <div class="fab-color-wheel" id="color-picker-container"></div>

    <input type="file" accept="image/*" id="imageInput" class="imageInputField"/>
    <div class="button-container">
        <button class="btnSendPictureToGrenke rounded-button-size rounded-button" id="btnSendPictureToGrenke">
            <i class="fas fa-cloud-upload-alt"></i>
        </button>
        <button class="imageInput rounded-button-size rounded-button" id="imageInputButton">
            <i class="fas fa-camera"></i>
        </button>
        <button class="fab-color-picker rounded-button-size rounded-button" id="fab-button">
            <i class="fas fa-paint-brush"></i>
        </button>
    </div>
</div>