@{
    ViewData["Title"] = "Home Page";
}

<div>
    <canvas id="sketchpad" width="800" height="800" style="border: 1px solid black;">
        Sorry, your browser is not supported.
    </canvas>
    <input type="range" id="stroke-thickness" min="0" max="80" value="25">

    <fieldset>
        <button id="btnSendPictureToGrenke">Post To Grenke</button>
    </fieldset>

    <div id="color-picker-container"></div>

    <a href="#" class="fab-color-picker" id="fab-button" ></a>

</div>