<div>
    <canvas id="sketchpad">
        Sorry, your browser is not supported.
    </canvas>

    <button id="btnSendPictureToGrenke" class="btnSendPictureToGrenke">Ab-<br/>schicken</button>

    <div class="fab-color-wheel" id="color-picker-container"></div>

    <button class="fab-color-picker" id="fab-button">Farbe</button>

</div>