@{
    ViewData["Title"] = "Home Page";
}

<div>
    <canvas id="sketchpad" width="800" height="800" style="border: 1px solid black;">
        Sorry, your browser is not supported.
    </canvas>
    <input type="color" id="color-picker" value="#0066ff">
    <input type="range" id="stroke-thickness" min="0" max="80" value="25">
</div>