<div>
    <canvas id="sketchpad">
        Sorry, your browser is not supported.
    </canvas>

    <div id="btnSendPictureToGrenke" class="btnSendPictureToGrenke">Ab-<br/>schicken</div>

    <div class="fab-color-wheel" id="color-picker-container"></div>

    <div class="fab-color-picker" id="fab-button">Farbe</div>

</div>