<div xmlns="http://www.w3.org/1999/html">
    <canvas id="sketchpad">
        Sorry, your browser is not supported.
    </canvas>

    <div class="fab-color-wheel" id="color-picker-container"></div>

    <input type="file" accept="image/*" id="imageInput" class="imageInputField"/>
    <button id="imageInputButton" class="imageInput"></button>
    <button id="btnSendPictureToGrenke" class="btnSendPictureToGrenke">Ab-<br/>schicken</button>
    <button class="fab-color-picker" id="fab-button">Farbe</button>

</div>