* { margin:0; padding:0; }

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
}

canvas {
    display:block;
    position:fixed;
    top: 10%;
    left: 10%;
}

.fab-color-picker{
    bottom:6%;
}

.accept{
    bottom:6%;
    background-color: #5cb85c;
}

.reject{
    bottom:32%;
    background-color: #b83a39;
}

.fab-color-wheel{
    position:fixed;
    display: none;
    z-index: 99;
    top:4%;
    right:4%;
}

.btnSendPictureToGrenke{
    bottom:59%;
    background-color: #9d9d9d;
}

.imageInputField {
    visibility: hidden;
}

.rounded-button {
    position:fixed;
    width:11%;
    height:21%;
    border-radius:100%;
    text-align: center;
    border-color: #333333;
    border-style: solid;
    border-width: 5px;
    font-size: 5em;
    font-weight: bold;
    right:4%;
}

.imageInput{
    bottom:32%;
    background-color: #9d9d9d;
}

.loader {
    visibility: hidden;
    position:fixed;
    z-index: 99;
    left: 45%;
    top: 45%;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
