* { margin:0; padding:0; }

html, body { width:100%; height:100%; }

canvas { display:block; }

.fab-color-picker{
    position:fixed;
    width:11%;
    height:21%;
    bottom:6%;
    right:4%;
    border-radius:100%;
    border-color: #333333;
    border-style: solid;
    border-width: 5px;
    display: table-cell;
    text-align: center;
    padding-top: 2.7%;
    font-size: 3em;
    font-weight: bold;
}

.fab-color-wheel{
    position:fixed;
    display: none;
    top:4%;
    right:4%;
}

.btnSendPictureToGrenke{
    position:fixed;
    width:11%;
    height:21%;
    bottom:59%;
    right:4%;
    padding-top: 1.8%;
    border-radius:100%;
    text-align: center;
    border-color: #333333;
    border-style: solid;
    border-width: 5px;
    font-size: 2em;
    font-weight: bold;
    background-color: #9d9d9d;
}

.imageInputField {
    visibility: hidden;
}

.imageInput{
    position:fixed;
    width:11%;
    height:21%;
    bottom:32%;
    right:4%;
    padding-top: 1.8%;
    border-radius:100%;
    text-align: center;
    border-color: #333333;
    border-style: solid;
    border-width: 5px;
    font-size: 2em;
    font-weight: bold;
    background-color: #9d9d9d;
}
