@model LedWallBackend.Domain.Picture
@if (Model == null)
{
    <h2>Keine Bilder mehr</h2>
}
else
{
    <img width="100%" src="data:image/png;base64,@Model.AsBase64" alt="sorry"/>

    <form method="post">
        <input type="text" style="visibility: hidden;" name="pictureId" value="@Model.Id"/>
        <button class="reject rounded-button-size rounded-button" name="button" value="Rejected">
            <i class="fas fa-times"></i>
        </button>
        <button class="accept rounded-button-size rounded-button" name="button" value="Approved">
            <i class="fas fa-check"></i>
        </button>
    </form>
}